<div class="search-bar">
    <label>Filter: </label>
    <input type="text" placeholder="" #searchInput>
    <button (click)="onSearchClick(searchInput.value)">Suchen</button>
</div>
<table class="delivery-table">
    <tr class="delivery-table-header">
        <td>Empfänger</td>
        <td>Lieferung von</td>
        <td>Gewicht</td>
        <td>Zeitpunkt</td>
        <td>Status</td>
    </tr>
    <tr *ngFor="let delivery of deliveriesData">
        <td>{{delivery.receiver}}</td>
        <td>{{delivery.carrier}}</td>
        <td>{{delivery.weight}}</td>
        <td>{{delivery.timestamp | date: 'yyyy-MM-ddThh:mm'}}</td>
        <td>{{delivery.status}}</td>
    </tr>
</table>
